.RegisterAvatars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
}
@media screen and (min-width: 768px) {
    .RegisterAvatars {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
}

.RegisterAvatarImage {
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    padding: .5em .5em 0;
    border-radius: .5em;
}

.RegisterAvatarImageSelected {
    border: 5px solid var(--bs-teal);
}